/* general */
body {
  font-family: "Courier New", monospace;
  font-size: 18px;
  color: #00373A; /* dark teal */
  background-color: #E2E8D9; /* super light green */
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #004816; /* super dark green */
}

h2 {
  color: #004816; /* super dark green */
}

#name {
  height: 147.25px;
  width: 512px;
}

.nav {
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav a {
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #7C9456; /* light green */
}

.nav a:hover {
  color: #33756A; /* teal */
}

/* index */
#home-photo {
  height: 400px;
  width: 400px;
}

#home-photo-credit {
  font-size: 12px;
}

.home-container a {
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #7C9456; /* light green */
}

.home-container a:hover {
  color: #33756A; /* teal */
}

.home-container p {
  margin-left: 100px;
  margin-right: 100px;
}

/* cv */
.cv-container a {
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #7C9456; /* light green */
}

.cv-container a:hover {
  color: #33756A; /* teal */
}

/* contact */

#contact-photo {
  height: 400px;
  width: 400px;
}

.contact-container p {
  font-size: 20px;
}

/* portfolio */
#digital-photo {
  height: 350px;
  width: 350px;
  transition: all .3s ease-in-out;
}

#digital-photo:hover {
  opacity: 0.5;
}

#sculpture-photo {
  height: 350px;
  width: 350px;
  transition: all .3s ease-in-out;
}

#sculpture-photo:hover {
  opacity: 0.5;
}

#photography-photo {
  height: 350px;
  width: 350px;
  transition: all .3s ease-in-out;
}

#photography-photo:hover {
  opacity: 0.5;
}

#video-photo {
  height: 350px;
  width: 350px;
  transition: all .3s ease-in-out;
}

#video-photo:hover {
  opacity: 0.5;
}

#videogame-photo {
  height: 350px;
  width: 350px;
  transition: all .3s ease-in-out;
}

#videogame-photo:hover {
  opacity: 0.5;
}

.back-to-portfolio {
  text-align: right;
}

.back-to-portfolio a {
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #7C9456; /* light green */
}

.back-to-portfolio a:hover {
  color: #33756A; /* teal */
}

/* digital */
.digital-container {
  margin-left: 50px;
  margin-right: 50px;
}

#digital-disability {
  height: 658px;
  width: 508px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#digital-barrowland {
  height: 658px;
  width: 465px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#digital-parasitoid {
  height: 576px;
  width: 1024.5px;
  margin-bottom: 20px;
}

#digital-taxidermy {
  height: 658px;
  width: 450px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#digital-pans {
  height: 658px;
  width: 456px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#digital-artschools {
  height: 650px;
  width: 513px;
  margin-bottom: 20px;
}

#digital-weevil {
  height: 633px;
  width: 950px;
  margin-bottom: 20px;
}

#digital-taxidermist {
  height: 650px;
  width: 450px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#digital-thoracic {
  height: 650px;
  width: 450px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#digital-hostbusters {
  height: 650px;
  width: 450px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#digital-claws {
  height: 650px;
  width: 450px;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* sculpture */
.sculpture-container {
  margin-left: 50px;
  margin-right: 50px;
}

#sculpture-glasgowjars {
  height: 650px;
  width: 865px;
  margin-bottom: 20px;
}

#sculpture-cicada {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-ants {
  height: 650px;
  width: 434px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#sculpture-cassettes {
  height: 650px;
  width: 488px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#sculpture-midres1 {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-midres2 {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-hands1 {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-hands2 {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-queerlove {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-cat {
  height: 600px;
  width: 874px;
  margin-bottom: 20px;
}

#sculpture-porcupine {
  height: 648px;
  width: 864px;
  margin-bottom: 20px;
}

#sculpture-raccoon {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-beaver {
  height: 648px;
  width: 864px;
  margin-bottom: 20px;
}

#sculpture-crow {
  height: 648px;
  width: 864px;
  margin-bottom: 20px;
}

/* photography */
.photography-container {
  margin-left: 50px;
  margin-right: 50px;
}

#photography-lochness {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-glasgow {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-urquhart {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-self {
  height: 650px;
  width: 434px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#photography-marley {
  height: 650px;
  width: 434px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#photography-elodie {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-dragonfly {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-mammoth {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-house {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-bigbear {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-boats {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

/* video */
.video-container {
  margin-left: 50px;
  margin-right: 50px;
}

.video-container iframe {
  margin-bottom: 20px;
}

/* video games */
.videogame-container {
  margin-left: 50px;
  margin-right: 50px;
}

#videogame-buckaroo {
  height: 280px;
  width: 280px;
  margin-bottom: 20px;
}

#videogame-lightningbug {
  height: 256px;
  width: 212px;
  margin-bottom: 20px;
}

#videogame-freshcuts {
height: 300px;
width: 368px;
margin-bottom: 20px;
}
