/* general */
body {
  font-family: "Courier New", monospace;
  font-size: 18px;
  color: #1A1100; /* dark brown */
  background-color: #FFFDF8; /* light cream */
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  color: #000000; /* black */
}

h2 {
  color: #000000; /* black */
}

#name {
  height: 87px;
  width: 384px;
}

.nav {
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav a {
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #1A1100; /* dark brown */
}

.nav a:hover {
  color: #E5B317; /* yellow */
}

/* index */
#home-photo {
  height: 400px;
  width: 400px;
}

#home-photo-credit {
  font-size: 12px;
}

.home-container a {
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #1A1100; /* dark brown */
}

.home-container a:hover {
  color: #E5B317; /* yellow */
}

.home-container p {
  margin-left: 100px;
  margin-right: 100px;
}

/* cv */
.cv-container {
  margin-left: 50px;
  margin-right: 50px;
}

.cv-container a {
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #1A1100; /* dark brown */
}

.cv-container a:hover {
  color: #E5B317; /* yellow */
}

/* contact */

#contact-etsy {
  height: 150px;
  width: 150px;
}

#contact-linkedin {
  height: 150px;
  width: 150px;
}

#contact-twitter {
  height: 150px;
  width: 150px;
}

#contact-insta {
  height: 150px;
  width: 150px;
}

.contact-container p {
  font-size: 20px;
}

/* portfolio */
.back-to-top {
  text-align: right;
}

.back-to-top a {
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #1A1100; /* dark brown */
}

.back-to-top a:hover {
  color: #E5B317; /* yellow */
}

/* digital */
.digital-container {
  margin-left: 50px;
  margin-right: 50px;
}

#digital-disability {
  height: 658px;
  width: 508px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#digital-barrowland {
  height: 658px;
  width: 465px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#digital-parasitoid {
  height: 576px;
  width: 1024.5px;
  margin-bottom: 20px;
}

#digital-taxidermy {
  height: 658px;
  width: 450px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#digital-pans {
  height: 658px;
  width: 456px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#digital-artschools {
  height: 650px;
  width: 513px;
  margin-bottom: 20px;
}

#digital-weevil {
  height: 633px;
  width: 950px;
  margin-bottom: 20px;
}

#digital-taxidermist {
  height: 650px;
  width: 450px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#digital-thoracic {
  height: 650px;
  width: 450px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#digital-hostbusters {
  height: 650px;
  width: 450px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#digital-claws {
  height: 650px;
  width: 450px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#videogame-buckaroo {
  height: 280px;
  width: 280px;
  margin-bottom: 20px;
}

#videogame-lightningbug {
  height: 256px;
  width: 212px;
  margin-bottom: 20px;
}

#videogame-freshcuts {
height: 300px;
width: 368px;
margin-bottom: 20px;
}

#videogame-cantwin {
height: 300px;
width: 300px;
margin-bottom: 20px;
}

.digital-container iframe {
  margin-bottom: 20px;
}

/* sculpture */
.sculpture-container {
  margin-left: 50px;
  margin-right: 50px;
}

#sculpture-thesis {
  height: 604.8px;
  width: 806.4px;
  margin-bottom: 20px;
}

#sculpture-glasgowjars {
  height: 650px;
  width: 865px;
  margin-bottom: 20px;
}

#sculpture-cicada {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-ants {
  height: 650px;
  width: 434px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#sculpture-cassettes {
  height: 650px;
  width: 488px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#sculpture-midres1 {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-midres2 {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-hands1 {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-hands2 {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-queerlove {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-cat {
  height: 600px;
  width: 874px;
  margin-bottom: 20px;
}

#sculpture-porcupine {
  height: 648px;
  width: 864px;
  margin-bottom: 20px;
}

#sculpture-raccoon {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#sculpture-beaver {
  height: 648px;
  width: 864px;
  margin-bottom: 20px;
}

#sculpture-crow {
  height: 648px;
  width: 864px;
  margin-bottom: 20px;
}

/* photography */
.photography-container {
  margin-left: 50px;
  margin-right: 50px;
}

#photography-lochness {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-glasgow {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-urquhart {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-self {
  height: 650px;
  width: 434px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#photography-marley {
  height: 650px;
  width: 434px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#photography-elodie {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-dragonfly {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-mammoth {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-house {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-bigbear {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

#photography-boats {
  height: 667px;
  width: 1000px;
  margin-bottom: 20px;
}

/* Other */

.other-container a {
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #1A1100; /* dark brown */
}

.other-container a:hover {
  color: #E5B317; /* yellow */
}
